

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  padding: 24px 24px 24px 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

.logo {
  display: inline-block;
  width: 160px;
}

.name {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding-top: 40px;
  margin-left: -8px;
}

h1 {
  font-size: 38px;
  margin-bottom: 2px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
}

.preview {
  width: 100%;
  text-align: center;
}
.video-preview {
  margin: auto;
  width: 640px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
  margin-top: 28px;
  width: 100%;
  text-align: center;
}

.tagline {
  margin: 0px auto 40px auto;
  width: 100%;
  text-align: center;
}

.announcement {
  font-size: 18px;
  font-weight: 500;
}

.button {
  padding: 8px 16px;
  border: 2px solid #999;
  border-radius: 4px;
  text-decoration: none;
  color: #999;

  &:hover {
    border-color: #333;
    color: #333;
  }
}

.mt1 {
  margin-top: 1em;
}
